@media only screen and (max-width: 650px) {

  .container>ul {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 5;
    right: inherit;
    top: inherit !important;
    bottom: 0;
    background-color: #fff;
    width: 100vw;
    height: 75px;
    box-shadow: 0 -16px 40px 0 rgba(0, 0, 0, 0.15) !important
  }

  .container>ul>ol {
    padding: 0 !important;
  }

  .container>div>div {
    text-align: center !important;
  }

  .container>div>div {
    padding: 25px !important;
  }

  .container>div>div>h3 {
    font-size: 42px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a213a;
}

.container {
  display: flex;
  flex-direction: column;
}

.container>div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  scroll-snap-align: start;
}

.container>div:nth-child(odd) {
  background-color: #f6f6f6;
}

.container>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  padding: 45px;
  font-family: 'Poppins', sans-serif;
}

#header>div>div>img {
  filter: grayscale(100%);
}

#header>div>div>img:hover {
  filter: grayscale(0%);
}

.footer>* {
  margin: 10px 0 !important;
}

h4 {
  font-family: 'Jura', sans-serif !important;
}

h6 {
  display: flex;
  align-items: center;
}

ul {
  right: 0;
  margin: -95px 15px 0 0;
  top: 50%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.container>div>div>h3>div {
  display: inline-block;
  min-width: 10px;
}

.hover {
  animation: letter 0.9s both
}

@keyframes letter {

  0%,
  100% {
    transform: scale3d(1, 1, 1);
    color: inherit;
    transform-origin: bottom;
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
    color: #f50057;
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}