@media only screen and (max-width: 768px) {
  .container>div>div {
    text-align: center !important;
  }

  .container>div>div {
    padding: 25px !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.container>div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.container>div:nth-child(odd) {
  background-color: #f6f6f6;
}

.container>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  padding: 45px;
  font-family: 'Poppins', sans-serif;
}

.footer>* {
  margin: 10px 0 !important
}

h4 {
  font-family: 'Jura', sans-serif !important;
}

h6 {
  display: flex;
  align-items: center;
}