@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

:root {
  --primary: #3f0962;
  --secondary: #fede5a;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Baloo 2";
  color: var(--primary);
  margin: 0;
  padding: 0;
}

section:nth-of-type(odd) {
  background: #f6f6f6;
}

.box-shadow {
  box-shadow: 0px 4px var(--secondary) !important;
}
