@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700;800&display=swap");

body {
  box-sizing: border-box;
  font-family: "Baloo 2";
  color: #3f0962;
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;
}

section:nth-of-type(odd) {
  background: #f0f0f0;
}
